.logo {
  max-width: 60px;
  height: auto;
}

.mt-navbar {
  margin-top: 4.5rem;
}

body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  margin-bottom: 20px;
}

.col-md-6 {
  padding: 20px;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3 {
  color: #333;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 50px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-5 {
  margin-bottom: 50px;
}
img.img-fluid {
  max-height: 100%; /* Ne dépasse jamais la hauteur du parent */
}


.carousel-inner.carousel-item {
  transform: scale(0.9);
  transition: transform 1s ease-in-out;
}

.carousel-inner.carousel-item.active {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.botao {
  width: 125px;
  height: 45px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px rgba(107, 221, 215, 0.37);
  padding: 5px 10px;
  background: rgb(47,93,197);
  background: linear-gradient(160deg, rgba(47,93,197,1) 0%, rgba(46,86,194,1) 5%, rgba(47,93,197,1) 11%, rgba(59,190,230,1) 57%, rgba(0,212,255,1) 71%);
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 505;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(59, 190, 230, 0.568));
  position: relative;
  transition: .5s linear;
}

.botao .mysvg {
  display: none;
}

.botao:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .5s linear;
  padding: 0; /* Supprime tout padding supplémentaire au survol */
}

.botao:hover .texto {
  display: none;
}

.botao:hover .mysvg {
  display: inline;
}

.botao:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3.5px solid transparent;
  border-top: 3.5px solid #fff;
  border-right: 3.5px solid #fff;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.botao a {
  text-decoration: none;
  color: #fff; /* Définit la couleur du texte en blanc */
}

.botao a .texto {
  color: inherit; /* Hérite de la couleur définie pour le lien */
}
